<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Toast</title>
  </head>
  <body>
    <!-- Success -->
    <div class="flex items-center py-2 border-r-3 border-lime-500 text-slate-600 max-w-sm w-full shadow-lg rounded overflow-hidden mx-auto">
      <div class="w-fit border-r px-2 text-lime-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-11 w-11 text-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div class="flex items-center px-2 py-3">
        <div class="mx-3 font-semibold">
          <p>Signed in successfully</p>
        </div>
      </div>
    </div>
    <!--  -->

    <div class="my-8"></div>
    <!-- Error -->
    <div class="flex items-center py-2 border-r-3 border-rose-500 text-slate-600 max-w-sm w-full shadow-lg rounded overflow-hidden mx-auto">
      <div class="w-fit border-r px-2 text-rose-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-11 w-11 text-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div class="flex items-center px-2 py-3">
        <div class="mx-3 font-semibold">
          <p>Signed in successfully</p>
        </div>
      </div>
    </div>
    <!--  -->

    <div class="my-8"></div>
    <!-- Warning -->
    <div class="flex items-center py-2 border-r-3 border-amber-500 text-slate-600 max-w-sm w-full shadow-lg rounded overflow-hidden mx-auto">
      <div class="w-fit border-r px-2 text-amber-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-11 w-11 text-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div class="flex items-center px-2 py-3">
        <div class="mx-3 font-semibold">
          <p>Signed in successfully</p>
        </div>
      </div>
    </div>
    <!--  -->
  </body>
</html>
